<%@ page language="java" contentType="text/html; charset=UTF-8" pageEncoding="UTF-8"%>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>spring 웹 게시판</title>

    <!-- Bootstrap 및 JavaScript 라이브러리 링크 추가 -->
    <link rel="stylesheet" type="text/css" href="/css/bootstrap.css">
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
    <script src="/js/bootstrap.js"></script>
</head>
<body>
<header class="tmpHeader">
    <nav class="navbar navbar-expand-md bg-dark navbar-dark">
        <!-- Brand -->
        <a class="navbar-brand" href="/">Annoymous Board</a>

        <!-- 버튼 그룹을 ml-auto 클래스로 오른쪽 정렬 -->
        <!--<div class="ml-auto button-class">
            <div class="btn-group">
                <button type="button" class="btn btn-dark dropdown-toggle" data-bs-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                    기능 선택
                </button>
                <div class="dropdown-menu" aria-labelledby="dropdownMenuButton">
                    <a class="dropdown-item" href="#" data-bs-toggle="modal" data-bs-target="#postModal" data-whatever="@mdo">게시글 작성하기</a>
                    <a class="dropdown-item" href="#" data-bs-toggle="modal" data-bs-target="#selectContents" data-whatever="@mdo">선택한 게시글 조회 기능</a>
                    <a class="dropdown-item" href="#">게시글 목록 조회 기능</a>
                    <a class="dropdown-item" href="#">선택한 게시글 수정 기능</a>
                    <a class="dropdown-item" href="#">선택한 게시글 삭제 기능</a>
                </div>
            </div>
        </div>-->
    </nav>
</header>
</body>
</html>
